<h2>Books</h2>
<!-- Page Size Selection Input Group -->
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="pageSize">Item per page: </label>
            </div>
            <select class="custom-select" id="pageSize" (change)="changePageSize()" [formControl]="pageSize" required>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
</div>
<!-- Table -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th id="colTitle" scope="col" [ngClass]="'sortable ' + titleDirection" (click)="sort('title')">Title</th>
            <th id="colAuthor" scope="col" [ngClass]="'sortable ' + authorDirection" (click)="sort('author')">Author</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of booksPaginated?._embedded!.books; index as i">
            <td scope="row">{{ ( convertInt(pageSize.value!) * booksPaginated?.page!.number ) + i + 1 }}</td>
            <td id="rowBookTitle">{{ book.title }}</td>
            <td id="rowBookAuthor">{{ book.author }}</td>
            <td><button id="updateBookBtn" type="button" class="btn btn-primary" (click)="updateBook(book)">Update</button></td>
            <td><button id="deleteBookBtn" type="button" class="btn btn-primary" (click)="deleteBook(book)">Delete</button></td>
        </tr>
    </tbody>
</table>
<!-- Pagination -->
<nav *ngIf="booksPaginated?._embedded!.books.length > 0" aria-label="Results pages">
    <ul class="pagination justify-content-end">
        <li id="pageFirstLink" [ngClass]="'page-item ' + (booksPaginated?._links!.first ? '' : 'disabled')"><a class="page-link" (click)="getBooks(booksPaginated?._links!.first?.href!)">First</a></li>
        <li id="pagePreviousLink" [ngClass]="'page-item ' + (booksPaginated?._links!.prev ? '' : 'disabled')"><a class="page-link" (click)="getBooks(booksPaginated?._links!.prev?.href!)">Previous</a></li>
        <li class="page-item"><div class="m-2">Page {{booksPaginated?.page!.number + 1}} of {{booksPaginated?.page!.totalPages}}</div></li>
        <li id="pageNextLink" [ngClass]="'page-item ' + (booksPaginated?._links!.next ? '' : 'disabled')"><a class="page-link" (click)="getBooks(booksPaginated?._links!.next?.href!)">Next</a></li>
        <li id="pageLastLink" [ngClass]="'page-item ' + (booksPaginated?._links!.last ? '' : 'disabled')"><a class="page-link" (click)="getBooks(booksPaginated?._links!.last?.href!)">Last</a></li>
    </ul>
</nav>
<button id="addBookBtn" type="button" class="btn btn-primary mb-3" (click)="addBook()">
    Add Book
</button>
<!-- Errors -->
<div class="mb-3" *ngIf="errorResponse">
    <div class="alert alert-danger" role="alert">{{ errorResponse.error_message }}</div>
</div>
<div class="mb-3" *ngIf="booksPaginated?._embedded!.books.length === 0 && !errorResponse">
    <div class="alert alert-primary" role="alert">No books found. You can add new book by clicking Add Book button!</div>
</div>